@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  will-change: filter;
}
.logo:hover {
  transform: rotate(-5deg);
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  background-color: #ececec;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  color: #0095e9;
}

.map-view {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0095e9;
  margin: 1rem;
  border-radius: 4px;
}

button {
  border: none;
  background: #0095e9;
  height: 2rem;
  width: 2rem;
  border-radius: 4px;
}

button:hover {
  background: rgba(0, 149, 233, 0.83);
}
